@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-nunito);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 220 80% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 280 65% 60%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 85%;
    --muted-foreground: 240 5% 50%;
    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 240 80% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --color-background: #0e1117;
    --color-foreground: #e5e7eb;
    --color-primary: #3b82f6;
    --color-secondary: #fdc700;
    --color-accent: #7c3aed;
    --color-muted: #6b7280;
    --color-border: #1f2937;
    --color-card: #1f2937;
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
